.dropdown-menu-item {
    position: absolute;
    z-index: 1000;
    display: none;
    /* min-width: 10rem; */
    /* padding: .5rem 0; */
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    top: 118%;
    margin-top: .125rem;
    right: -40px;
    line-height: 2em;
}