/* Divider Color  */
.divide {
    width: 50px;
    border: 4px solid #ff56dd;
}
.icon-color {
    color: rgb(245, 24, 153);
    padding: 10px;
}

/* Header Style  */
.dropdown-menu-item {
    position: absolute;
    z-index: 1000;
    display: none;
    /* min-width: 10rem; */
    /* padding: .5rem 0; */
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    top: 118%;
    margin-top: .125rem;
    right: -40px;
    line-height: 2em;
}
/* Banner Style  */
.banner-bg {
    background-image: url(../Images/Banner/banner-bg.jpg);
    background-repeat: round;
    background-size: auto;
    min-height: 835px;
}

.banner-title {
    padding-top: 250px;
}

/* About-Info Style  */
.about-info {
    background-image: url(../Images/Banner/aboutinfo.jpg);
    background-repeat: round;
    background-size: auto;
    min-height: 650px;
}

/* Progress  */

.progress-line {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 450px;
    margin: 0 auto;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    margin: 20px 0;
}

/* Instrctor Page Style  */
.instructor-bg {
	background-image: url(../Images/Banner/instractor-bg.jpg);
	background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
}
.title-center {
	padding-top: 15%;
}
.title-text {
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 5px;
}

/* Instructor Details Page  */
.instructor-title {
	padding: 0;
	margin: 0;
	background-color: rgb(38 36 36 / 50%);
	background-size: cover;
	height: 700px;
	z-index: 1000;
}
.Instructor-details {
	width: 820px;
    margin: 0 auto;
    padding-top: 15%;
}
.instructor {
	text-align: center;
	font-size: 80px;
	text-align: center;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.instructor-img {
	margin-top: -120px;
}